html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* SLIDER */ 
.slidecontainer {
    width: 100%;
}

#sliderRange{
    width: 100%;

}

/* SQUARE SLIDER */ 
.slider-square {
    -webkit-appearance: none;
    width: 100%;
    height: 24px;
    background: #f0f0f0;
    outline: none;
    opacity:0.7;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.slider-square:hover {
    opacity:1;
}

.slider-square::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #aedaf8;
    cursor: pointer;
}

.slider-square::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border: 0;
    background: #aedaf8;
    cursor: pointer;
}

/* MAP */ 
#map {
    height: 100%;
}
