* {box-sizing: border-box; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
    color: #5a8473;
}

#wrapper{
    padding: 15px;
    width: 70%;
    height: fit-content;
    margin: auto;
}

#wrapper h1{
    text-align: center;
}

p, nav li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3c3c41;
    font-size: medium;
    /* line-height: 1.5em; */
    margin-left: 5px;
    margin-right: 5px;
}

nav {  
    /* letter-spacing: 0.1em; */
    text-align: center; 
    font-size: 99%;
    padding: .25em;
    /* background-color:linen; */
} 

nav ul{ 
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-around; 
    list-style-type: none;

}

nav a{text-decoration: none;}
/* nav a:link { color: #5a8473; } */
nav a:visited { color: rgba(95, 163, 184); }
nav a:hover { 
    color: #5a8473 (95, 163, 184, 0.534);
    border-bottom: #5a8473 2px solid;
}


/* SLIDER */ 
.slidecontainer {
    width: 100%;
    height: 15%;
    /* background-color: linen; */
}

#sliderRange{
    width: 100%;

}

/* SQUARE SLIDER */ 
.slider-square {
    -webkit-appearance: none;
    width: 100%;
    height: 24px;
    background: rgb(245, 245, 245);
    outline: none;
    opacity:0.7;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.slider-square:hover {
    opacity:1;
}

.slider-square::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #aedaf8;
    cursor: pointer;
}

.slider-square::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border: 0;
    background: #aedaf8;
    cursor: pointer;
}

/* MAP */ 
#map {
    height: 80%;
}
